:root {
    --primary-button-background-color: #ebebeb;
    --primary-button-hover-background-color: #d2d2d2;
    --secondary-button-background-color: #ffd814;
    --secondary-button-hover-background-color: #f7ca00;
    --tertiary-button-background-color: #ffa41c;
    --tertiary-button-hover-background-color: #fa8900;
    --primary-hover-color: #c66d42;
    --round-border-radius: 4px;
    --round-border-radius-l: 8px;
    --round-border-radius-xl: 32px;
    --secondary-text-color: #565656;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
    text-decoration: none;
    color: black;
}

    a:hover {
        color: black;
    }

img {
    object-fit: contain;
}

.text-default {
    font-size: 16px;
}

.fs-0 {
    font-size: 0px;
}

.round-left-border {
    border-top-left-radius: var(--round-border-radius) !important;
    border-bottom-left-radius: var(--round-border-radius) !important;
}

.round-right-border {
    border-top-right-radius: var(--round-border-radius) !important;
    border-bottom-right-radius: var(--round-border-radius) !important;
}

.round-border {
    border-radius: var(--round-border-radius) !important;
}

.round-border-l {
    border-radius: var(--round-border-radius-l) !important;
}

.round-border-xl {
    border-radius: var(--round-border-radius-xl) !important;
}

.primary-button {
    background-color: white;
    border-color: var(--primary-button-background-color);
    color: black;
}

    .primary-button:hover {
        background-color: var(--primary-button-hover-background-color);
    }

.secondary-button {
    border-color: transparent;
    background-color: var(--secondary-button-background-color);
}

    .secondary-button:hover {
        border-color: transparent;
        background-color: var(--secondary-button-hover-background-color);
    }

.tertiary-button {
    border-color: transparent;
    background-color: var(--tertiary-button-background-color);
}

    .tertiary-button:hover {
        background-color: var(--tertiary-button-hover-background-color);
    }

/*Layout*/
.resizeselect {
    background-color: var(--primary-button-background-color);
}

.resizeselect:hover {
    background-color: var(--primary-button-hover-background-color);
}

option {
    background-color: white;
}

.search-button {
    background-color: var(--primary-button-background-color);
    color: black;
}

    .search-button:hover {
        background-color: var(--primary-button-hover-background-color);
    }

.nav-item {
    border: 1px solid transparent;
    border-radius: 2px;
}

    .nav-item:hover {
        border: 1px solid white;
    }

/*AuthLayout*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}

/*Filters*/
.filter-input {
    font-size: 14px;
}

.filter-sub {
    font-weight: bold;
    font-size: 13px;
    align-items: center;

}

/*Cards*/

.image-container {
    background-color: var(--primary-button-background-color);
}

.card-product {
    width: 15rem;
    height: 30rem;
}

.card-product-name {
    font-size: 18px;
}

.product-price {
    font-size: 30px;
    font-weight: 400;
}

.product-price sup {
    font-size: 15px;
}

    .primary-hover:hover {
        color: var(--primary-hover-color);
    }

/*Product detail*/
.secondary-text-color {
    color: var(--secondary-text-color)
}

.customer-review-score {
    font-size: 14px;
    color: black;
}

.customer-review-score-l {
    font-size: 18px;
    color: black;
}

.product-details ul {
    padding-left: 20px;
}

.stock-text {
    color: #037803;
}

.stock-text span {
    font-size: 70%;
    font-weight: normal;
}

/*Customer review*/
.customer-icon {
    font-size: 30px;
}

.customer-review-headline {
    font-size: 18px;
    color: black;
    font-weight: 500;
}

.progress {
    background-color: var(--primary-button-background-color);
    border: 1px solid var(--secondary-text-color)
}