@*FilterByPrice's default view*@

<p class="fw-bold m-0">Price</p>
<a class="row primary-hover" href="#">
    <div class="col-auto pe-1">
        <i class="fa-solid fa-chevron-left"></i>
    </div>
    Clear
</a>
<form class="input-group justify-content-around mt-1">
    <div class="col-5">
        <input type="text" class="form-control filter-input" placeholder="&#8363 FROM">
    </div>
    <div class="col text-center">
        <p class="p-1 m-0">&#8212;</p>
    </div>
    <div class="col-5">
        <input type="text" class="form-control filter-input" placeholder="&#8363 TO">
    </div>
    <div class="col-12 mt-2">
        <button class="btn filter-button shadow-sm w-100" type="button">
            <span>Go</span>
        </button>
    </div>
</form>