@{
    ViewData["Title"] = "Home Page";
}

@model HomeIndexModel

<div class="row">
    @* Filter section *@
    <div class="col-2">
        @*Filter by category*@
        @await Component.InvokeAsync("FilterByCategoryId", Model)

        @* Filter by price *@
        @await Component.InvokeAsync("FilterByPrice", Model.Queries)

        @*Filter by customer review score*@
        @await Component.InvokeAsync("FilterByCustomerReviewScore", Model.Queries)
    </div>

    @*Product section*@
    <div class="col-10">
        <div class="row">
            <div class="col text-start p-1">
                <h5>Results</h5>
                <p>1-47 of 367 results</p>
            </div>
        </div>
        @await Component.InvokeAsync("ProductList", Model.Products)
    </div>
</div>