@*FilterByCustomerReviewScore's default view*@

@model LookupDto

<div class="row mb-3">
    <p class="fw-bold m-0">Customer Reviews</p>

    @*Clear Filter*@
    @if (Model.HasFilterByCustomerReviewScore())
    {
        <a class="row primary-hover" asp-controller="Home" asp-action="ClearFilterByCustomerReviewScore">
            <div class="col-auto pe-1">
                <i class="fa-solid fa-chevron-left"></i>
            </div>
            Clear
        </a>
    }

    @*5 stars*@
    <a class="row primary-hover filter-sub" href="#">
        <div class="col-auto text-warning text-default ps-4 pe-1">
            @await Component.InvokeAsync("CustomerReviewScore", 5.0)
        </div>
    </a>
    @*4 stars and up*@
    <a class="row primary-hover filter-sub" href="#">
        <div class="col-auto text-warning text-default ps-4 pe-1">
            @await Component.InvokeAsync("CustomerReviewScore", 4.0)
        </div>
        & Up
    </a>
    @*3 stars and up*@
    <a class="row primary-hover filter-sub" href="#">
        <div class="col-auto text-warning text-default ps-4 pe-1">
            @await Component.InvokeAsync("CustomerReviewScore", 3.0)
        </div>
        & Up
    </a>
    @*2 stars and up*@
    <a class="row primary-hover filter-sub" href="#">
        <div class="col-auto text-warning text-default ps-4 pe-1">
            @await Component.InvokeAsync("CustomerReviewScore", 2.0)
        </div>
        & Up
    </a>
    @*1 star and up*@
    <a class="row primary-hover filter-sub" href="#">
        <div class="col-auto text-warning text-default ps-4 pe-1">
            @await Component.InvokeAsync("CustomerReviewScore", 1.0)
        </div>
        & Up
    </a>
</div>