@*CustomerReview's default view.*@

@model CustomerReview

<div class="ms-auto d-flex align-items-center mt-4">
    <i class="fa fa-user-circle customer-icon" aria-hidden="true"></i>
    <span class="ps-2">@Model.CreatedByUserName</span>
</div>

<div class="ms-auto text-warning d-flex align-items-center">
    @await Component.InvokeAsync("CustomerReviewScore", (double) Model.Score)
    <span class="customer-review-headline ps-2">@Model.Headline</span>
</div>

<span class="secondary-text-color">
    Reviewed on @Model.Created.ToLocalTime().ToString("MMMM d, yyyy")
</span>

<p class="mb-0">
    @Model.Comment
</p>